div(class="content")
  div(class='header')
    div(class='title')
      h1= title
      p Twitter comunity based medical information.
    div(class='search-bar')
      input(id='search-term', type='text')
      span(id='go')
        | GO
  div(class='tooltip-header')
    | To start just search for a term or phrase.
  div(id='test')
